[submodule "DPC/ChamferDistancePytorch"]
	path = DPC/ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
[submodule "ChamferDistancePytorch"]
	path = ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
[submodule "STS/src/ChamferDistancePytorch"]
	path = STS/src/ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
